body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b, #020617);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* CARD CENTRAL */
.container {
    background: white;
    padding: 40px;
    border-radius: 14px;
    width: 360px;
    text-align: center;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.35);
    animation: aparecer 0.6s ease;
}

/* ANIMAÇÃO */
@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* TITULO */
h2{
    margin-bottom:25px;
    font-size:26px;
    color:#111827;
}

/* INPUTS */
input{
    width:100%;
    padding:12px;
    margin-bottom:12px;
    border:1px solid #d1d5db;
    border-radius:6px;
    font-size:14px;
}

input:focus{
    border-color:#2563eb;
    outline:none;
    box-shadow:0 0 6px rgba(37,99,235,0.4);
}

/* BOTÕES */
button{
    width:100%;
    padding:12px;
    margin-top:8px;
    border:none;
    border-radius:6px;
    background: linear-gradient(90deg,#2563eb,#1d4ed8);
    color:white;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0px 10px 20px rgba(0,0,0,0.25);
}

/* ÁREA LOGIN/CADASTRO */
#cadastro, #login{
    margin-top:20px;
    padding:20px;
    background:#f3f4f6;
    border-radius:8px;
}